<div class="servicesContainer">
    <div class="servicesTitle">
        <h1>Our Services</h1>
        <p>At the MediSphere, we offer you a wide range of treatments, procedures, and investigations at the highest standards.</p>
    </div>
    <div class="servicesContent">
        <div class="servicesRow">
            <mat-card>
                <mat-icon aria-hidden="false" aria-label="Icon label">favorite</mat-icon>
                <h1>Cardiology</h1>
                <p>Specializes in the sophisticated diagnosis and management of cardiac and vascular pathologies.</p>
            </mat-card>
            <mat-card>
                <mat-icon aria-hidden="false" aria-label="Icon label">psychology</mat-icon>
                <h1>Neurology</h1>
                <p> Expertly addresses disorders of the central and peripheral nervous systems.</p>
            </mat-card>
            <mat-card>
                <mat-icon aria-hidden="false" aria-label="Icon label">science</mat-icon>
                <h1>Testing</h1>
                <p> Employs advanced diagnostic modalities for comprehensive medical evaluations.</p>
            </mat-card>
        </div>
        <div class="servicesRow">
            <mat-card>
                <mat-icon aria-hidden="false" aria-label="Icon label">local_hospital</mat-icon>
                <h1>General Surgery</h1>
                <p> Executes a diverse array of surgical interventions targeting abdominal and soft tissue anomalies.</p>
            </mat-card>
            <mat-card>
                <mat-icon aria-hidden="false" aria-label="Icon label">monitor_heart</mat-icon>
                <h1>Intensive Care Unit</h1>
                <p>Delivers critical care for patients with severe and life-threatening conditions, supported by state-of-the-art life support systems.</p>
            </mat-card>
            <mat-card>
                <mat-icon aria-hidden="false" aria-label="Icon label">emergency</mat-icon>
                <h1>Emergency Trauma Center</h1>
                <p>Provides immediate, specialized care for acute traumatic injuries, equipped with cutting-edge trauma support infrastructure.</p>
            </mat-card>
        </div>
    </div>
</div>