
.tableContainer{

    margin-top: -3em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .sectionTitle{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 2em;

        h1{
            margin-top: 2em;
            margin-bottom: .2em;
            font-weight: 600;
            font-size: 1.7em;
            color: var(--main-black-color);
        }

        p{
            margin-top: .5em;
            margin-bottom: .5em;
            font-weight: 400;
            font-size: 1em;
            color: var(--gray-text-color);

        }
    }




    .tableCard{
        
        mat-card{

      
            display:flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 50em;
            max-height: 40em;
            min-height: 20em;
            box-shadow: 0 5px 15px rgba(37, 37, 37, 0.3);
            overflow-x: hidden;
            overflow-y: hidden;

            .fieldsArea{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 3em;

                .col{
                    padding: 1em;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    gap: 1.2em;

                    label {
                        font-weight: 600;
                    }

                    mat-form-field{
                        width: 35em;
                    }

                    textarea{
                        height: 10em;
                    }

                }
            }

            .buttonArea{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 2em;

            }

    
            
    
        }

    }

   
    
}