<div class="dashboard">
    <app-welcome-text  [userName]="'AddFDName'"></app-welcome-text>
    <div class="cardsArea">
        <div class="row3">
            <mat-card>
                <mat-icon aria-hidden="false" aria-label="Icon label">add_circle</mat-icon>
                <h1>Create Account</h1>
                <p>Create a new account</p>
            </mat-card>
            <mat-card (click)="toAccountList()">
                <mat-icon aria-hidden="false" aria-label="Icon label">group</mat-icon>
                <h1>Manage Patients</h1>
                <p>List all patients & check their details</p>
            </mat-card>
            <mat-card>
                <mat-icon aria-hidden="false" aria-label="Icon label">calendar_month</mat-icon>
                <h1>Manage Appointments</h1>
                <p>Check current and upcoming appointments</p>
            </mat-card>
        </div>
    </div>
</div>