.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .sectionTitle{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2em;

        h1{
            margin-top: 2em;
            margin-bottom: .2em;
            font-weight: 600;
            font-size: 2em;
            color: var(--main-black-color);
        }

        p{
            margin-top: .5em;
            margin-bottom: .5em;
            font-weight: 400;
            font-size: 1em;
            color: var(--gray-text-color);

        }
    }

    .sectionTitle::after {
        content: ''; /* Pseudo-element content should be empty */
        position: absolute;
        left: 50%; /* Start from the middle of the element */
        transform: translateX(-50%); /* Shift it back by half its width to center it */
        bottom: -28em; /* Adjust the distance from the bottom of the title */
        width: 5em; /* Width of the underline */
        height: .15em;; /* Height of the underline */
        background-color: red; /* Color of the underline */
      }

      .sectionTitlePhotos{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2em;

        h1{
            margin-top: 2em;
            margin-bottom: .2em;
            font-weight: 600;
            font-size: 2em;
            color: var(--main-black-color);
        }

        p{
            margin-top: .5em;
            margin-bottom: .5em;
            font-weight: 400;
            font-size: 1em;
            color: var(--gray-text-color);

        }
    }

    .sectionTitlePhotos::after {
        content: ''; /* Pseudo-element content should be empty */
        position: absolute;
        left: 50%; /* Start from the middle of the element */
        transform: translateX(-50%); /* Shift it back by half its width to center it */
        bottom: -28em; /* Adjust the distance from the bottom of the title */
        width: 5em; /* Width of the underline */
        height: .15em;; /* Height of the underline */
        background-color: red; /* Color of the underline */
      }

    .image{
        width: 108.54em !important;
        height: 40em !important;
    }

    .cardsContainer{
        background-color: transparent;
        display: flex;
        justify-content: center;
        margin-top: -17em !important;

        .redCard {
            background-color: #ca2222;
            color: var(--main-white-color);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 25em;
            height: 25em;
            margin-right: 6em;
            border-radius: 0.5em;
            box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.8);
            padding-left: 1em;
            padding-right: 1em;

          
            h1 {
              font-size: 2.6em;
              font-weight: 700;
              margin-bottom: 0.5em; 
            }
          
            p {
              font-size: 1em;
              padding: 1em; 
              text-align: justify; 
            }
          }
          
          .basicCard {
            margin-left: 2.6em;
            background-color: var(--main-white-color);
            color: var(--main-black-color);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 17em;
            height: 25em;
            border-radius: 0.5em; 
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4); 
            padding-left: .7em;
            padding-right: .7em;

            mat-icon {

                font-size: 2rem; 
                height: 1em; 
                width: 1em; 
                margin-bottom: 0.5em;
                color: var(--main-red-color); 
              }
            
          
            h1 {
              font-size: 2em;
              font-weight: 500;
              margin-bottom: 0.5em; 
            }
          
            p {
                color: #7a6d6d;
                font-size: 1em;
                padding: 1em; 
                text-align: justify; 
              }
          }
    }

    .statsContainer{
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5em !important;

        mat-card{

            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 2em;
            border: 1px solid transparent;
            width: 15em;
            height: 15em;

            &:hover {
                box-shadow: 0 5px 15px rgba(37, 37, 37, 0.3);
            }

            mat-icon {

                font-size: 2rem; 
                height: 1em; 
                width: 1em; 
                margin-bottom: 0.5em;
                color: var(--main-red-color); 
              }

            h1 {
                color: var(--main-black-color);
                font-size: 2.6em;
                font-weight: 700;
              }
            
              p {
                color: #7a6d6d;
                font-size: 1.2em;
                text-align: justify; 
              }

        }
    }

    .faqContainer{

        margin-top: 1.5em;
        margin-bottom: 1.5em;

        mat-card{
            box-shadow: none;
            margin-left: 2em;
            width: 66em;
            

            mat-expansion-panel{
                box-shadow: none;

                margin-top: 1em;
            }

            mat-panel-title{
                font-size: 1.1em;
                color: var(--main-black-color);
            }

            mat-panel-title mat-icon {
                margin-right: 1em; 
                vertical-align: bottom; 
                color: var(--main-red-color);
              }
        
        }

    }

    .galleryContainer{

        margin-top: 1.5em;
        margin-bottom: 1.5em;
        width: 100%;

        mat-grid-tile {
            background-size: cover; 
            background-position: center;
            overflow: hidden; 
          
            .tile-content {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              display: flex;
              justify-content: center;
              align-items: center;

            }
          }
          
    }



}