<div class="container">

    <img class="image" src="../../../assets/pictures/homepage_bg.jpg">

    <div class="cardsContainer">
        <mat-card class="redCard">
         <h1>Why MediSphere?</h1>
         <p>MediSphere is a medical center that operates at the highest standard, with doctors recognized for the quality of medical care, out of respect and concern for people.</p>
        </mat-card>

        <mat-card class="basicCard">
            <mat-icon aria-hidden="false" aria-label="Icon label">history</mat-icon>
            <h1>History</h1>
            <p>MediSphere was founded two decades ago with the desire to offer quality medical services accessible to everyone.</p>
        </mat-card>

        <mat-card class="basicCard">
            <mat-icon aria-hidden="false" aria-label="Icon label">done</mat-icon>
            <h1>Values</h1>
            <p>At MediSphere, we prioritize the needs of our patients and strive to continuously improve their experience within our clinic.</p>
        </mat-card>

        <mat-card class="basicCard">
            <mat-icon aria-hidden="false" aria-label="Icon label">open_with</mat-icon>
            <h1>Future</h1>
            <p>We are constantly working to expand the range of services offered in order to support an ever-growing number of patients.</p>
        </mat-card>
    </div>

    <div class="statsContainer">
        <mat-card>
            <mat-icon aria-hidden="false" aria-label="Icon label">medical_services</mat-icon>
            <h1>{{doctorCount}}</h1>
            <p>Doctors</p>
        </mat-card>
        <mat-card>
            <mat-icon aria-hidden="false" aria-label="Icon label">emergency</mat-icon>
            <h1>{{departmentCount}}</h1>
            <p>Departments</p>
        </mat-card>
        <mat-card>
            <mat-icon aria-hidden="false" aria-label="Icon label">science</mat-icon>
            <h1>{{laboratoryCount}}</h1>
            <p>Laboratories</p>
        </mat-card>
        <mat-card>
            <mat-icon aria-hidden="false" aria-label="Icon label">emoji_events</mat-icon>
            <h1>{{awardCount}}</h1>
            <p>Awards</p>
        </mat-card>
    </div>


    <div class="sectionTitle">
        <h1>Frequently Asked Questions (FAQ)</h1>
        <p>The answers to the questions our customers commonly Ask</p>
    </div>



    <div class="faqContainer">

    </div>

</div>
