<!-- Upper bar for contact details -->
<!-- <div class="upper-navbar">
  <div class="contact-info">
    <a href="mailto:info@medi-sphere.com" class="contact-link">
      <i class="material-icons">email</i>info@medi-sphere.com
    </a>

    <a href="tel:+40745088098" class="contact-link">
      <i class="material-icons">call</i>0745 088 098
    </a>

    <a href="https://www.google.com/maps/search/?api=1&query=Timisoara" target="_blank" class="contact-link">
      <i class="material-icons">location_on</i>Timisoara
    </a>
  </div>
</div> -->

  
  <!-- Main navbar -->
  <nav class="main-navbar">
    <!-- Logo and navigation links -->
    <div class="navbar-content">
      <a href="/" class="navbar-logo">
        <img src="assets/logo/logo-no-background.png" alt="MediSphere Logo">
      </a>
    
      <!-- Additional links here -->
    </div>

    <div class="navbar-options">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About Us</a>
      <a routerLink="/services">Services</a>
      <a routerLink="/departments">Departments</a>
      <a routerLink="/team">Doctors</a>
      <a routerLink="/contact">Contact</a>
    </div>
    
  
    <!-- Actions and social media links -->
    <div class="navbar-actions">
 
      <!-- <a href="#" class="action-button">Programare Online</a> -->
      <a href="#" class="action-button">   <i class="material-icons">public</i>MySphere</a>
     
    </div>
  </nav>
  