<div  class="aboutContainer">

    <div class="photoArea">
        <img src="../../../assets/pictures/4.jpg">
    </div>
    <div class="contentArea">
        <h1>About Us</h1>
        <p>The MediSphere health network was established decades ago with the desire to offer patients the best conditions for treating medical conditions. Over time, the MediSphere family has added new members that we are proud of and with whose help we have treated thousands of patients.</p>
        
        <div class="cardsArea">
            <mat-card>
                <div class="cardTitleArea">
                    <mat-icon>fingerprint</mat-icon>
                    <h2>Influence</h2>
                </div>
                <div class="cardContentArea">
                    <p>MediSphere doctors have left their mark over time on every life, treating quickly, efficiently, and thus ensuring a chance for a normal life</p>
                </div>
            </mat-card>

            <mat-card>
                <div class="cardTitleArea">
                    <mat-icon>menu_book</mat-icon>
                    <h2>Experience</h2>
                </div>
                <div class="cardContentArea">
                    <p>Our doctors are very well trained, internationally recognized for their studies and achievements, members of important professional associations.</p>
                </div>
            </mat-card>

            <mat-card>
                <div class="cardTitleArea">
                    <mat-icon>volunteer_activism</mat-icon>
                    <h2>Involvement and Dedication</h2>
                </div>
                <div class="cardContentArea">
                    <p>Our team is recognized for the dedication and involvement it shows in medical practice. These are based on our desire to help and please the people who request our services.</p>
                </div>
            </mat-card>
        </div>

    </div>

</div>